div(class='version')
  p Node version: #{nodeVersion.output}
  if(uptime.typeof == undefined)
    div(class='uptime')
      p Server uptime: 1 day
  else
    if(!isWin)
    div(class='uptime')
      p Server uptime: #{uptime}
