extends layout

block content
  p Detta är ett projekt jag skrivit för utbildningen Applikationsutveckling JavaScript.
  p Med detta program kan du:
  ul
    li Lägga till film i databasen.
    li Lista filmer ur databasen.
    li Visa mer information om specifik film.
