doctype html
html
  head
    title FilmvisarN
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='/javascripts/jquery.js')
  body
    include menu
    section
      block content
    footer
      include extras
