extends layout

block content
  h1 Lista filmer
  p(class='varning') De två översta filmerna är safe att klicka på. (Resterande kan vara NSFW)
  ul
    each film in filmer
      li
        a(href='/show/' + film.title.replace(/ /g,''))= film.title