extends layout

block content
  h1 Lägg till film
  p Fyll i alla fält och klicka på "Skicka".
  - if(movieAdd)
    p(class='added') Filmen tillagd i databasen
  form(action='/write' method='POST')
    p
      label Titel: 
      input(type='text' name='title')
    p
      label IMDB Rating:
      input(type='number' step='0.1' name='imdbRating')
    p
      label Handling: 
      textarea(name='plot')
    p
      label Regissör: 
      input(type='text' name='director')
    p
      label Längd: (0h 00min) 
      input(type='text' name='movieLength')
    p
      label Comedy:
      input(type='checkbox' name='genre' value='Comedy')
      label Crime:
      input(type='checkbox' name='genre' value='Crime')
      label Drama:
      input(type='checkbox' name='genre' value='Drama')
    p
      label Image URL:
      input(type='text' name='image')
    p
      input(type='submit')